<ion-header>
  <ion-toolbar>
    <ion-title>Minha Lista</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  div.cnt{
    text-align: center;
  }
  
</style>

<ion-content>

  <ion-text>
    <div class="cnt">
      <h1 >Bem Vindo a sua lista!</h1>
      <h2>Ainda em implementação...</h2>
    </div>
  </ion-text>

  <ion-list>
    <ion-item *ngFor="let anime of meus_animes">
      <ion-img [src]="anime.imageLink"></ion-img>
      <ion-text>
        <h3>{{anime.titulo}}</h3>
        <h3>{{anime.genero}}</h3>
      </ion-text>
    </ion-item>
  </ion-list>

  <div class="cnt">
    <h3>Para encontrar mais recursos Ionic</h3>
    <a target="_blank"
    rel="noopener noreferrer" 
    href="https://ionicframework.com/docs/components">UI Components</a>
  </div>

  <div class="cnt">
    <h3>Ainda em busca de Algo? É só Buscar!</h3>
  </div>
  <ion-button expand="block" shape="round" (click)="irParaBuscar()">
    <ion-icon name="add"></ion-icon>
        Ir Para Buscar    
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
