<ion-header>
  <ion-toolbar>
    <ion-title>Minha Lista</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  div.cnt{
    text-align: center;
  }
</style>

<ion-content>

  <ion-text>
    <div class="cnt">
      <h1 >Bem Vindo a sua lista!</h1>
    </div>
  </ion-text>

  <div class="cnt">
    <h3>Para encontrar mais recursos Ionic</h3>
    <a target="_blank"
    rel="noopener noreferrer" 
    href="https://ionicframework.com/docs/components">UI Components</a>
  </div>

  <ion-button expand="block" shape="round" (click)="adicionar()">
    <ion-icon name="add"></ion-icon>
  </ion-button>
</ion-content>
