<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>busca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="a">
    <h1>Cadastrar novo anime</h1>
  </ion-text>

  <ion-list>
    <form [formGroup]="formAdicionar" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input placeholder="Título" formControlName="titulo" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="generos" formControlName="generos" type="text"></ion-input>
      </ion-item>
    </form>
  </ion-list>

  <ion-item>
    <input type="file" name="file" id="file" (change)="onFileChanged($event)" />
  </ion-item>

  <ion-button (click)="adicionar()">
    <ion-icon name="add"></ion-icon>
  </ion-button>

</ion-content>
