<ion-header>
  <ion-toolbar>
    <ion-title>busca</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="a">
    <h1>Cadastrar novo anime</h1>
  </ion-text>

  <ion-list>
    <form [formGroup]="novo_anime" (ngSubmit)="submitForm()">
      <ion-item>
        <ion-input placeholder="Título" formControlName="title" type="text"></ion-input>
      </ion-item>
    </form>
  </ion-list>

  <ion-button (click)="adicionar()">
    <ion-icon name="add"></ion-icon>
  </ion-button>

</ion-content>
